html {
 font-size: 100%;
 box-sizing: border-box;
}

*, *::before, *::after {
 box-sizing: inherit;
}

body {
 margin: 0;
 padding: 0;
 font-family: var(--FONT-INTER);
 background-color: var(--BG-COLOR);
 color: var(--TEXT1-COLOR);

 .light-mode {
  background-color: white;
  color: black;
}
}